src/**/bin/
src/**/obj/
src/**/out/
src/**/lib/

src/**/.env

*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.ntvs*
*.njsproj

course-frontend/node_modules/
course-frontend/dist/
course-frontend/dist-ssr/
course-frontend/build/
course-frontend/.vite/
course-frontend/.vite/deps/
course-frontend/.cache/
course-frontend/vite-cache/

course-frontend/logs/
course-frontend/*.log
course-frontend/npm-debug.log*
course-frontend/yarn-debug.log*
course-frontend/yarn-error.log*
course-frontend/pnpm-debug.log*
course-frontend/lerna-debug.log*

course-frontend/.env
course-frontend/.env.local
course-frontend/.env.*.local
course-frontend/*.local

**/.env

Test/

docker-compose.yml
docker-compose.dcproj
docker-compose.override.yml

.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.vs/

.idea/

*.sw?

*.*.DotSettings.user
*.*.DotSettings


.DS_Store
Thumbs.db

.containers
.files
