name: CI

on:
  push:
    branches: [ "main", "devops" ]
  pull_request:
    branches: [ "main", "devops" ]

jobs:
  build-test:
    name: Build & Test .NET Solution
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore CourseSystem.sln

      - name: Build solution
        run: dotnet build CourseSystem.sln --configuration Release --no-restore

      - name: Run unit + integration tests
        run: dotnet test CourseSystem.sln --configuration Release --no-build --logger trx

  docker-build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t ufaz-course-system-api .
